extend ./components/_header
block content
  // Full Page Image Header Area
  #top.header
    .vert-text(style="color:#fff")
      .col-xs-20
        h1(style="color:#f88") あじあ姓名うらない
        p(style="margin-bottom:50px") &copy; だいぶつ 2014-2015
      .containar
        .row
          .col-md-5.col-md-offset-1.text-center
            h3 姓名が運勢に及ぼす影響を知ってみませんか？
            p
              | このサイトでは、姓名診断士
              | 山本哲生が長年の蓄積によって築きあげた運勢診断エンジンを活用し、あなたの豊かな人生をサポートします。
          .col-md-4.text-left
            form.form(action="shindan.html", method="GET")
              .form-group
                span(style="color:red") 3秒で簡単うらない！
              .form-group
                .input-group
                  span.input-group-addon(style="color:#000") 姓
                  input.form-control(name="sei", type='text', placeholder='例）山本', aria-describedby='basic-addon1')
              .form-group
                .input-group
                  span.input-group-addon(style="color:#000") 名
                  input.form-control(name="mei", type='text', placeholder='例）哲生', aria-describedby='basic-addon1')
              .form-group
                  label.radio-inline
                    input(type="radio", name="gendar", checked="checked", value="女性")
                    span 女性
                  label.radio-inline
                    input(type="radio", name="gendar", value="男性")
                    span 男性
              .form-group
                .btn-group
                  button.btn.btn-primary(type='submit') 運勢を知る！
  // Bootstrap core JavaScript
  // Placed at the end of the document so the pages load faster
  script(src='js/jquery.js')
  script(src='js/bootstrap.js')
  // Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up