doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="SHORTCUT ICON", href="favicon.ico")
    meta(name="description", content="#{keyfords}")
    meta(name="keywords", content="#{description}")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title
    // Bootstrap core CSS
    link(href="css/bootstrap.css", rel="stylesheet")
    // Add custom CSS here
    link(href="css/stylish-portfolio.css", rel="stylesheet")
    link(href="font-awesome/css/font-awesome.min.css", rel="stylesheet")

  body
    block content